body {
  background: #eee; }

article {
  background: #fff;
  padding: 15px; }

.frontpage-article {
  max-width: 600px;
  margin: 0 auto; }

.logo {
  padding-top: 11px; }

@media screen and (max-width: 720px) {
  .h1-size-change {
    font-size: 26px; }
  .h2-size-change {
    font-size: 20px; } }
